html 
{
     background: #B0C4DE;
}
body 
{
     background-repeat: no-repeat;
     background: #cbccc8;
     background: -webkit-gradient(linear, left top, left bottom, from(#e4e5e6), to(#B0C4DE));
     background: -moz-linear-gradient(top, #e4e5e6, #B0C4DE);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e4e5e6', endColorstr='#B0C4DE');
}

.navbar {
 background: #0f2027; /* Old browsers */
background: -moz-linear-gradient(top,  #0f2027 0%, #203a43 8%, #203a43 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f2027), color-stop(8%,#203a43), color-stop(100%,#2c5364)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0f2027 0%,#000000 8%,#203a43 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0f2027 0%,#203a43 8%,#203a43 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0f2027 0%,#203a43 8%,#203a43 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0f2027 0%,#000000 8%,#203a43 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2027', endColorstr='#203a43',GradientType=0 ); /* IE6-9 */ 
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
}
.navbar li a {
  float: left;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #ddd;
}
.navbar li a:hover {
  background-color: #333;
  color: #fff;
}